.item-a {
    grid-area: header;
    height: 90px;
  
  }
  .item-b {
    grid-area: main;
    height: 400px;
  
  }
  .item-c {
    grid-area: sidebar;
    height: 400px;
    text-align: left;
  
    
  }
  .item-d {
    grid-area: footer;
    height: 90px;
    align-content: flex-end;
  
  }
  
  .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
  }
  .h1-class {
      color: blue;
  }

@media screen and (max-width : 800px) {
  .container{
    grid-template-columns: auto;
  }

  .item-c{
    background-color: rgb(165, 189, 100);
  }
  .item-d{
    display: none;
  }
  
}

@media screen and (max-width: 400px) {

  .container{
    grid-template-columns: auto;
  }
    
  .item-c{
    background-color: red;
    display: none;
  }
  .item-d{
    display: none;
  }
}


