html
{
    background-color: rgb(233, 227, 227);
    font-size: 16px;
}

.myclass
{
color: rgb(235, 146, 46);
text-decoration: underline;
color: green;
}
h3{
    display: inline;
    margin: 5px;
    padding: 0px;
   /* border: 1px solid black;*/
    width: fit-content;
}
hr {
    border: 1px solid red;
}